<template>
  <div class="game">
    <h1>Jogo dos Pontinhos</h1>
    <h2>{{ $store.getters.player1 }} vs {{ $store.getters.player2 }}</h2>
    <!-- <h2>{{ letterPlayer1 }} vs {{ letterPlayer2 }}</h2> -->
    <!-- <h3>Mapa: {{ $store.getters.picked }}</h3> -->
    <div class="body">
      <div :class="ballsStyle">
        <div
          v-for="(ball, key) in balls"
          :key="ball.id"
          @click="eventsBall(key)"
          :class="ballStyle">
          {{ key }}
        </div>

        <div :class="letterBody">
          <div
            v-for="(letter, key) in letters"
            :key="letter.id"
            class="letter">
            {{ key }}
          </div>
        </div>


        <div :class="lineBodyVertical">
          <div
            v-for="(line, key) in verticalLines"
            :key="line.id"
            :style="line"
            class="line-vertical">
            {{ key }}
          </div>

        </div>
        <div :class="lineBodyHorizontal">
          <div
            v-for="(line, key) in horizontalLines"
            :key="line.id"
            @click="eventBall(key)"
            :style="line"
            class="line-horizontal">
            {{ key }}
          </div>
        </div>
      </div>
    </div>
    <button class="button-restart">
      Reiniciar
    </button>
    <router-link to="/" tag="button" class="button-back">
      Voltar
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'game',
  data () {
    return {
      ballsStyle: 'balls',
      ballStyle: 'balls-ball',
      fieldSize: 0,
      letterPlayer1: '',
      letterPlayer2: '',
      balls: [],
      letters: [],
      clickBallOne: null,
      clickBallTwo: null,
      verticalLines: [],
      horizontalLines: [],
      verticalLeft: -32,
      verticalTop: 0,
      horizontalLeft: -5,
      horizontalTop: 28,
      lineSize: null,
      letterSize: null,
      lineBodyVertical: '',
      lineBodyHorizontal: '',
      letterBody: '',
      firstPlayer: '',
      lastPlayer: '',
      nameFirstPlayer: '',
      nameLastPlayer: ''
    }
  },
  mounted: function () {

    // if (this.player1 == '' || this.player2 == '' || this.picked == '') {
    //   this.$router.push('/')
    // }

    this.fieldSize = this.$store.getters.picked
    this.letterPlayer1 = this.$store.getters.player1.substr(0, 1)
    this.letterPlayer2 = this.$store.getters.player2.substr(0, 1)

    // Tratamento caso as iniciais dos nomes sejam iguais
    if (this.letterPlayer1 == this.letterPlayer2) {
      this.letterPlayer1 = 'P1'
      this.letterPlayer2 = 'P2'
    }

    // Decidindo qual jogador começa
    if (this.getRandomPlayer() == 1) {
      this.firstPlayer = this.letterPlayer1
      this.lastPlayer = this.letterPlayer2
      this.nameFirstPlayer = this.$store.getters.player1
      this.nameLastPlayer = this.$store.getters.player2
      this.$swal('Primeiro a jogar: ' + this.nameFirstPlayer)
    } else {
      this.firstPlayer = this.letterPlayer2
      this.lastPlayer = this.letterPlayer1
      this.nameFirstPlayer = this.$store.getters.player2
      this.nameLastPlayer = this.$store.getters.player1
      // this.$swal('Primeiro a jogar: ' + this.nameFirstPlayer)
    }

    // Criando tamanho do jogo de acordo com o tamanho escolhido
    if (this.fieldSize == 9) {
      this.ballsStyle = 'body-9'
      this.lineSize = 6
      this.letterSize = 4
      this.lineBodyVertical = 'line-body-9-vertical'
      this.lineBodyHorizontal = 'line-body-9-horizontal'
      this.letterBody = 'letter-body-9'
    } else if (this.fieldSize == 25) {
      this.ballsStyle = 'body-25'
      this.lineSize = 20
      this.letterSize = 16
      this.lineBodyVertical = 'line-body-25-vertical'
      this.lineBodyHorizontal = 'line-body-25-horizontal'
      this.letterBody = 'letter-body-25'
    } else {
      this.ballsStyle = 'body-49'
      this.lineSize = 42
      this.letterSize = 36
      this.lineBodyVertical = 'line-body-49-vertical'
      this.lineBodyHorizontal = 'line-body-49-horizontal'
      this.letterBody = 'letter-body-49'
    }

    // Criando bolinhas
    for (let i = 0; i < this.fieldSize; i ++) {
      this.balls.push(i)
    }

    // Criando letras
    for (let i = 0; i < this.letterSize; i ++) {
      this.letters.push(i)
    }

    // Criando linhas
    for (let i = 0; i < this.lineSize; i ++) {
      this.verticalLeft = this.verticalLeft + 60
      this.verticalLines.push('height: 40px; width: 4px; top: ' + this.verticalTop + 'px; left: ' + this.verticalLeft + 'px');
      this.horizontalLeft = this.horizontalLeft + 35
      this.horizontalLines.push('height: 4px; width: 40px; top: ' + this.horizontalTop + 'px; left: ' + this.horizontalLeft + 'px');
    }

  },
  methods: {
    getRandomPlayer(min, max) {
      min = Math.ceil(0);
      max = Math.floor(1);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    changeColor() {
      this.ballStyle = 'balls-ball-clicked'
    },
    eventsLetter (key) {
      console.log(key)
      //APAGAR
    },
    eventsBall (key) {
      // console.log('chave', key)
      if (this.clickBallOne == null) {
        this.clickBallOne = key
        console.warn('click1: ', this.clickBallOne)
      } else if (this.clickBallTwo == null) {
        this.clickBallTwo = key
        console.warn('click2: ', this.clickBallTwo)

        if (
          (this.clickBallTwo == (this.clickBallOne + 3)) ||
          (this.clickBallTwo == (this.clickBallOne + 1)) ||
          (this.clickBallTwo == (this.clickBallOne - 1)) ||
          (this.clickBallTwo == (this.clickBallOne - 3))
          ) {
          // cria linha aqui



          console.log('linha criada')
        } else {
          console.log('linha invalida')
          this.clickBallOne = null
          this.clickBallTwo = null
        }

      } else {
        this.clickBallOne = key
        this.clickBallTwo = null
        console.warn('click1: ', this.clickBallOne)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
%body {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.body-9 {
  @extend %body;
  width: 180px;
  height: 180px;
}
.body-25 {
  @extend %body;
  width: 300px;
  height: 300px;
}
.body-49 {
  @extend %body;
  width: 420px;
  height: 420px;
}
.balls {
  &-ball {
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
    color: white;
    z-index: 2;
    &-clicked {
      height: 30px;
      width: 30px;
      background: red;
      border-radius: 50%;
      margin: 40px;
    }
  }
}
.letter {
  color: #983352;
  font-size: 24px;
  font-weight: bold;
  // margin: 30px 10px;
  height: 60px;
  width: 60px;
  &-body {
    &-9 {
      @extend %line-body;
      width: 150px;
      padding-top: 30px;
    }
    &-25 {
      @extend %line-body;
      width: 290px;
      padding-top: 30px;
    }
    &-49 {
      @extend %line-body;
      width: 400px;
      padding-top: 30px;
    }
  }
}
%line-body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
.line {
  &-horizontal {
    background: #dadada;
    margin: 28px 10px;
  }
  &-vertical {
    background: #dadada;
    margin: 10px 28px;
  }
  &-body {
    &-9 {
      &-vertical {
        @extend %line-body;
        width: 180px;
      }
      &-horizontal {
        @extend %line-body;
        width: 150px;
      }
    }
    &-25 {
      &-vertical {
        @extend %line-body;
        width: 300px;
      }
      &-horizontal {
        @extend %line-body;
        width: 290px;
      }
    }
    &-49 {
      &-vertical {
        @extend %line-body;
        width: 420px;
      }
      &-horizontal {
        @extend %line-body;
        width: 400px;
      }
    }
  }
}
</style>
