<template>
  <div class="home">
    <h1>Bem vindo ao Jogo dos Pontinhos!</h1>
    <section>
      <h2>Por favor insira os nomes dos jogadores abaixo:</h2>
      <label>Player 1:</label>
      <input
        @change="updatePlayer1"
        placeholder="Nome"
        class="input"
        v-model="player1"
      ><br>
      <label>Player 2:</label>
      <input
        @change="updatePlayer2"
        placeholder="Nome"
        class="input"
        v-model="player2"
      >
      <!-- <h3>{{ player1 }} e {{ player2 }}</h3> -->
    </section>

    <section>
      <h2>Agora escolha qual o tamanho do campo:</h2>
      <input
        @change="updatePicked"
        value=9
        type="radio"
        id="one"
        v-model="picked"
        class="input-radio"
      >
      <label>3x3</label>
      <input
        @change="updatePicked"
        value=25
        type="radio"
        id="two"
        v-model="picked"
        class="input-radio"
      >
      <label>5x5</label>
      <input
        @change="updatePicked"
        value=49
        type="radio"
        id="three"
        v-model="picked"
        class="input-radio"
      >
      <label>7x7</label>
      <!-- <span>Escolhido: {{ picked }}</span> -->
    </section>

    <h3 class="alert">{{ alert }}</h3>
    <button @click="validate" class="button-confirm">
      Iniciar
    </button>
  </div>
</template>

<script>

export default {
  name: 'home',
  components: {
  },
  data () {
    return {
      alert: '',
      picked: 0,
      player1: '',
      player2: ''
    }
  },
  computed: {
  },
  methods: {
    updatePlayer1: function(event) {
      this.$store.commit('updatePlayer1', event.target.value)
    },
    updatePlayer2: function(event) {
      this.$store.commit('updatePlayer2', event.target.value)
    },
    updatePicked: function(event) {
      this.$store.commit('updatePicked', event.target.value)
    },
    validate() {
      // if (this.player1 == '' || this.player2 == '' || this.picked == '') {
      //   this.alert = 'Por favor, preencha todos os campos'
      // } else if (this.player1 == this.player2) {
      //   this.alert = "Os nomes não podem ser iguais"
      // } else {
        this.$router.push('/game')
      // }
    }
  }
}
</script>

<style lang="scss">
label {
  font-size: 18px;
}
.input {
  font-size: 18px;
  margin: 6px;
  border: none;
  border-bottom: 1px solid #2C3E50;
  &-radio {
    margin-left: 16px;
  }
}
.alert {
  color: #D4886A;
}
</style>
