<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/game">Game</router-link>
    </div> -->
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
input, textarea, select {
    outline: 0;
}
%button {
  font-size: 24px;
  border-radius: 16px;
  padding: 4px 32px;
  border: none;
  color: white;
  margin: 40px 10px;
  cursor: pointer;
}
.button-confirm {
  @extend %button;
  background: #8ABD5F;
}
.button-restart {
  @extend %button;
  background: #983352;
}
.button-back {
  @extend %button;
  background: #499273;
}
</style>
